body {
    /* background-color: black; */
}

nav {
    display: flex;
    justify-content: flex-end;
}

ul {
    display: flex;
    list-style: none;
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}

ul li {
    margin-left: 2%;
}

ul li a {
    text-decoration: none;
    color: #000;
    display: flex;
}

.nav-img {
    width: 32px;
    height: 32px;
}

a.popup:target {
    display: block;
}

/* showing popup */
a.popup:target + div.popup {
    display: flex;
    flex-wrap: wrap;
}

/* popup target anchor and background */
a.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    cursor: default;
}

/* popup window */
div.popup {
    /* popup window is initially hidden */
    display: none;
    background: white;
    width: 35%;
    height: auto;
    position: fixed;
    top: 10%;
    left: 60%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.inside-pop {
    display: flex;
    flex-direction: row;
    padding: 6% 6% 6% 6%;
    flex-wrap: wrap;
    justify-content: space-around;
}

.inside-pop li {
    flex: 0 0 23.333333%;
}

.inside-a {
    flex-direction: column;
    align-items: center;
}

.sec-row-inside,
.third-row-inside,
.fourth-row-inside {
    margin-top: 15%;
}

.fourth-row-inside {
}

.more-container {
    flex: 1;
    background-color: #f4f4f4;
    padding: 3% 0;
}

.more {
    justify-content: center;
}

.pop-img {
    width: 50px;
    height: 50px;
}

/* .inside-focus:focus {
    outline: 1px solid blue;
    background-color: yellow;
} */
.inside-focus:hover {
    outline: #c9b7b7 solid 2px;
}

div.popup > a.close {
    color: white;
    position: absolute;
    font-weight: bold;
    right: 10px;
}

.more-target {
    opacity: 0;
    max-height: 0;
    font-size: 0;
    transition: 0.25s ease;
}
