*{
	margin: 0;
	padding: 0;
}

html{
    height: 100%;
    width: 100%;
    background: #eee;
    font-size: 10px;
    font-family: poppins,sans-serif;
}

.header{
    background: url(../images/header-background.jpg) no-repeat scroll center bottom;
    background-repeat: cover;
    padding-top: 3rem;
}

#sidebar{
    margin-bottom: 12rem;
}

#sidebar ul{
    list-style: none;
    margin-left: 45rem;
}
#sidebar ul li{
    display: inline-block;
    margin-left: 3.6rem;
}
#sidebar ul li a{
    text-decoration: none;
    font-size: 1.6rem;
    color: #8f969d;
    transition-duration: 0.4s;
    cursor: pointer;
}
#sidebar ul li a:hover{
    color: #555;
}
#sidebar button{
    font-size: 1.6rem;
    font-weight: 500;
    padding: 0 3.5rem 0 3.5rem;
    height: 4rem;
    border-radius: 60px;
    background: #FF6622;
    color: #fff;
    transition-duration: 0.4s;
    cursor: pointer;
}
#sidebar button:hover{
    background-color: #333333;
}
#sidebar img{
    position: absolute;
    left: 8rem;
    top: 2.5rem;
}
#main{
    color: #374048;
    text-align: center;
    margin: 0 0 2rem 0;
}
#main h1{
    font-size: 8rem;
    margin-top: 5%;
}
#main p{
    color: #8A9095;
    font-size: 2.7rem;
    margin: 2rem 20rem;
    font-weight: 300;
    letter-spacing: -0.2px;
    line-height: 41px;
}

#main button{
    font-size: 2.7rem;
    font-weight: 500;
    padding: 0 8.5rem 0 8.5rem;
    height: 7.2rem;
    border-radius: 60px;
    background: #0084ff;
    color: #fff;
    transition-duration: 0.4s;
    cursor: pointer;
    display: inline-block;
}

#main button a{
    text-decoration: none;
    color: #fff;
}
#main button:hover{
    background-color: #333333;
}
.play-btn{
    margin: 0 1.5rem;
    vertical-align: middle;
}
.watch{
    /* position: relative; */
    vertical-align: middle;
    max-width: 100%;
    /* display: inline-block; */
    margin: 6rem 0 6rem 50rem;
}
#product{
    background-color: #fff;
    text-align: center;
    /* height: 950px; */
}
.header-2{
    color: #374048;
    font-size: 4.8rem;
    font-weight: 600;
    padding: 9rem 0 0 0;
    word-spacing: 0px;
    text-align: center;
}
.product-description{
    font-size: 2rem;
    font-weight: 300;
    line-height: 32px;
    padding: 1rem 25rem 0 25rem;
    color: #969DA3;
    text-align: center;
}
#product img{
    padding: 5rem 0 15rem 0;
    max-width: 100%;
}
#how-it-works{
    background-color: #F8FBFD;
    text-align: center;
}
#how-it-works > p{
    font-size: 2rem;
    font-weight: 300;
    line-height: 3.2rem;
    padding: 2rem 30rem 5rem 30rem;
    color: #4E575F;
}
#how-it-works div{
    display: inline-block;
    width: 25%;
    padding: 5% 3% 8% 0;
}
.arrow::before{
    content: '';
    background: url(../images/right-angle.png) no-repeat scroll center 32px;
    width: 30px;
    height: 63px;
    margin-left: -140px;
    position: absolute;
    display: inline-block;

}
.subheading{
    color: #374048;
    font-weight: 600;
    font-size: 2.6rem;
    padding: 10% 0 2% 0;

}
.how-paragraph{
    font-size: 1.6rem;
    color: #737C85;
    font-weight: 300;
    line-height: 28px;
}

#benefits{
    background: #FFFFFF;
    padding-bottom: 75px;
}
.benefits{
    display: inline-block;
    width: 24%;
    height: 92px;
    padding: 2% 0 3% 4%;
}
#benefits .product-description:after {
    background: #eee;
    content: '';
    width: 8.2rem;
    height: 0.6rem;
    display: block;
    margin: 2rem auto 0;
}
.heading-3{
    font-size: 2rem;
    font-weight: 600;
    line-height: 2.2rem;
    color: #374048;
}
.p-benefits{
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 2.2rem;
    color: #82898F;
    height: 6.6rem;
    padding-top: 1%;
}
.first{
    padding-left: 14%;
}
.img-benefits{
    width: 45px;
    height: 45px;
    position: relative;
    right: 60px;
    top: 50px;
}
#product-features{
    padding: 10rem 0 23rem 0;
    background: #f8fbfd;
}
.benefits-watch{
    position: relative;
    width: 300px;
    height: 92px;
    padding: 45px 0px 3px 15px;
}
.content-left{
    position: relative;
    display: inline-block;
    left: 12rem;
}
.content-right{
    display: inline-block;
    position: absolute;
    left: 92rem;
}
#product-features > img{
    position: absolute;
    left: 50.5rem;
}

.prod-features-icons {
    width: 45px;
    height: 45px;
    position: absolute;
    right: 32rem;
    top: 4.8rem;
}

#collection{
    background: #fff;
    padding-top: 3rem;
    padding-bottom: 10rem;
}
.watch-title{
    color: #0084ff;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1;
    margin-top: 20px;
}
.watch-subtitle{
    color: #b4bcc3;
    margin: 5px 0 0 0;
    font-weight: 300;
    font-size: 1.3rem;
    line-height: 1;
}
.watch-price{
    color: #f62;
    font-weight: 600;
    font-size: 1.9rem;
    margin: 14px 0 20px;
}
.watch-button{
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 300;
    padding: 2px 33px 0;
    height: 30px;
    line-height: 30px;
    border-radius: 30px;
    border-color: #e1e4e7;
    color: #b4bcc3;
    transition-duration: 0.4s;
}

#collection .watch-button:hover{
    background-color: #333333;
    border-color: #333;
    color: #fff;
}

.watch-container{
    display: inline-block;
    text-align: center;
    margin-top: 8rem;
    margin-left: 2.9rem;
}

#collection .product-description:after {
    background: #eee;
    content: '';
    width: 8.2rem;
    height: 0.6rem;
    display: block;
    margin: 2rem auto 0;
}

.watch-first{
    margin-left: 65px;
}
.watch-last{
    margin-right: 65px;
}
.watch-2 p{
    width: 52rem;
}

.watch-2 p:after {
    background: #eee;
    content: '';
    width: 8.2rem;
    height: 0.6rem;
    display: block;;
    margin: 2rem auto 0;
    position: absolute;
}

.watch-2{
    text-align: left;
    padding: 8rem 0 0 2.5rem;
    background: #f8fbfd;
    position: relative;
}

.watch-2 h2 {
    /* padding: 0 0 0 2rem; */
}

.watch-2 ul{
    list-style: none;
    margin-top: 8rem;
    /* margin-left: 450px; */
}
.watch-2 ul li{
    /* display: inline-block; */
    /* margin-left: 36px; */
    color: #696f74;
    font-size: 2rem;
    font-weight: 300;
    /* line-height: 10px; */
    /* display: block; */
}

.watch-2 ul li+li {
    margin-top: 22px;
}

.watch-2 ul:last-child {
    margin-bottom: 15rem;
}

.watch-2 ul li::before{
    background: url(../images/check.png) no-repeat scroll 0 0;
    width: 32px;
    height: 32px;
    content: '';
    margin-right: 17px;
    margin-left: 25px;
    vertical-align: middle;
    /* float: left; */
    margin-bottom: 5px;
    display: inline-block;
    /* position: absolute; */
}

.watch-2 div > p {
    padding-top: 1rem;
}

.watch-2 div{
    display: inline-block;
    width: 50rem;
}

.watch-2 > img{
    display: inline-block;
    margin: 10rem 0 0 25rem;
    max-width: 100%;
    position: absolute;
    top: -2rem;
}

.benefits-2 {

}

.benefits-2 img {
    max-width: 100%;
    width: 640px;
    height: 366px;
    display: inline-block;
}

.left {
    display: inline-block;
    background-color: #fff;
}

.heading-3 {
    padding-top: 0;
    color: #374048;
    font-weight: 700;
    font-size: 3.5rem;
}

.description {
    display: inline-block;
    width: 55rem;
    vertical-align: top;
    padding: 7rem 4rem 0;
}

.benefits-2-p {
    color: #C0CAD0;
    margin-top: 3rem;
    font-size: 1.8rem;
    line-height: 3.2rem;
    font-weight: 300;
    width: 46rem;

}