body {
    width: 350px;
    margin: 0;
    padding: 0 10px;
    font-size: 14px;
    font-family: Arial, sans-serif;
}

table {
    border-collapse: collapse;
}

th {
    width: 33%;
    padding: 10px;
    background-color: darkcyan;
    color: white;        
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

td {
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

th:nth-child(2) {
    background-color: lightblue;
}

th:nth-child(1),
td:nth-child(1) {
    text-align: left;
}

th:nth-child(2),
td:nth-child(2) {
    text-align: center;
}

th:last-child,
td:last-child {
    text-align: right;
}

tr:nth-child(odd) {
    background-color: lightyellow;
}